@import './kyogre/features/font.css';
@import './kyogre/features/base.css';
/* @import './kyogre/features/background.css'; */
@import './kyogre/features/blockquote.css';
@import './kyogre/features/editor.css';
@import './kyogre/features/code.css';
@import './kyogre/features/kbd.css';
@import './kyogre/features/list.css';
@import './kyogre/features/mathjax.css';
@import './kyogre/features/toc.css';
@import './kyogre/features/table.css';

:root {
  --code-font: 'Hasklig', "Fira Code", Consolas, 'jinkai', Inconsolata, "Cascadia Code", Monaco, "Ubuntu Mono", monospace;
  --main-font: 'Hasklig', 'jinkai', -apple-system, BlinkMacSystemFont, "Microsoft YaHei", Arial, "Helvetica Neue", Helvetica, sans-serif;
  /* basic color */
  --bg-color: #fff;
  --bg-secondary-color: #f8f9fa;
  --text-color: #333;
  /* main color */
  --primary-color: #f06292;
  --secondary-color: #fdebf1;
  /* 右侧菜单 */
  --menu-bg-color: #e3e7e7;
  --ty-check-color: #00bb00;
  --ty-delete1-color: #ff6b6b;
  --ty-code-color: #c94ae9;
  /* 引用 */
  --quote-border-color: #f06292;
  --quote-text-color: #6a737d;
  --quote-bg-color: #fdebf1;
  --note-border-color: #3e69d7;
  --note-bg-color: #e9eaff;
  --tip-border-color: #03b736;
  --tip-bg-color: #d5efe9;
  --important-border-color: #8250df;
  --important-bg-color: #f1ecfc;
  --warning-border-color: #f59102;
  --warning-bg-color: #fcf4dc;
  --caution-border-color: #e30f2e;
  --caution-bg-color: #fde4e8;
  /* 链接 */
  --link-text-color: #f06292;
  /* 脚注 */
  --write-bg-color: #fff;
  /* 高亮 */
  --mark-bg-color: #a8f5a3;
  --mark-text-color: #393a49;
  /* Task List */
  --task-list-done-color: #777;
  /* TOC */
  --toc-border-color: #9cdcfe;
  /* 表格 */
  --table-head-text-color: #676767;
  --table-head-bg-color: #b3e5fc;
  --table-even-bg-color: #f6f6f7;
  --table-line-color: #dfe2e5;
}
