html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-color);
}

body {
  color: var(--text-color);
  line-height: 1.6;
}

#write {
  background-color: var(--write-bg-color);
  max-width: 860px;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 100px;
}

@media only screen and (min-width: 1400px) {
  #write {
    max-width: 1024px;
  }
}

@media only screen and (min-width: 1800px) {
  #write {
    max-width: 1200px;
  }
}

/* h1~h6 */
/* #region */
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin: 1.2rem 0 1rem;
  font-weight: bold;
  line-height: 1.4;
  cursor: text;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
  text-decoration: none;
}

h1 tt,
h1 code {
  font-size: inherit;
}

h2 tt,
h2 code {
  font-size: inherit;
}

h3 tt,
h3 code {
  font-size: inherit;
}

h4 tt,
h4 code {
  font-size: inherit;
}

h5 tt,
h5 code {
  font-size: inherit;
}

h6 tt,
h6 code {
  font-size: inherit;
}

h1 {
  font-size: 2.25em;
  line-height: 1.2;
}

h2 {
  font-size: 1.75em;
  line-height: 1.225;
}

h3 {
  font-size: 1.5em;
  line-height: 1.43;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
  color: #777;
}

/* #endregion */
/* h1~h6 end*/
p,
blockquote,
ul,
ol,
dl,
table {
  margin: 16px 0;
}

/* 图片 */
img {
  border-radius: 1rem;
}

/* 链接 */
a {
  color: var(--link-text-color);
}

/* 脚注 */
#write .md-footnote {
  background-color: var(--write-bg-color);
  font-weight: bold;
  color: var(--link-text-color);
}
