/* 动态样式 */
/* #region */
/* 活动行行号 */
.CodeMirror-activeline .CodeMirror-activeline-gutter {
  .CodeMirror-linenumber {
    color: #585163;
  }
}

/* 活动行高亮 */
.CodeMirror-focused .CodeMirror-activeline-background {
  background-color: #e7e8ec;
}

/* 光标颜色 */
.CodeMirror div.CodeMirror-cursor {
  border-left: 1.5px solid #000;
}

/* #endregion */
/* 动态样式 end */

/* 右下角 */
.code-tooltip {
  box-shadow: 0 1px 1px 0 rgba(0, 28, 36, .3);
  border-top: 1px solid #eef2f2;
}

.md-fences,
code,
tt {
  border: 1px solid #e7eaed;
  background-color: #f8f8f8;
  border-radius: 3px;
  padding: 0;
  padding: 2px 4px 0px 4px;
  font-size: 0.9em;
}

code {
  font-size: .9rem;
  word-wrap: break-word;
  padding: 2px 4px;
  border-radius: 4px;
  margin: 0 2px;
  color: #f06292;
  background-color: #f6f8fa;
  word-break: break-all;
}


/* code block start */
/* #region */
.md-fences {
  color: #333;
  background-color: #f6f8fa;
  border-radius: 1rem;
  padding: 30px 0 10px 0;
  font-family: var(--main-font);
}

.md-fences::before {
  background: #fc625d;
  border-radius: 50%;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  content: ' ';
  height: 12px;
  left: 12px;
  margin-top: -20px;
  position: absolute;
  width: 12px;
}

/* #endregion */
/* code block end */

/* 配色方案 */
.cm-s-inner .cm-keyword {
  color: #a57fe7;
}

.cm-s-inner .cm-operator {
  color: #89ddff;
}

.cm-s-inner .cm-variable-2 {
  color: #e59835;
}

.cm-s-inner .cm-type,
.cm-s-inner .cm-variable-3 {
  color: #ea6717;
}

.cm-s-inner .cm-builtin {
  color: #ffcb6b;
}

.cm-s-inner .cm-atom {
  color: #f78c6c;
}

.cm-s-inner .cm-number {
  color: #ff5370;
}

.cm-s-inner .cm-def {
  color: #e59835;
}

.cm-s-inner .cm-string {
  color: #4ba036;
}

.cm-s-inner .cm-string-2 {
  color: #f07178;
}

.cm-s-inner .cm-comment {
  color: #cdcdcd;
}

.cm-s-inner .cm-variable {
  color: #42a5f5;
}

.cm-s-inner .cm-meta {
  color: #ff6b6b;
}

.cm-s-inner .cm-attribute {
  color: #e26fff;
}

.cm-s-inner .cm-property,
.cm-s-inner .cm-qualifier {
  color: #ff6b6b;
}

.cm-s-inner .cm-error {
  border: solid 0.25px #e9405c;
  color: #fff;
}
