/* 动态样式 */
/* #region */
/* 活动行行号 */
.CodeMirror-activeline .CodeMirror-activeline-gutter {
  .CodeMirror-linenumber {
    color: #585163;
  }
}

/* 活动行高亮 */
.CodeMirror-focused .CodeMirror-activeline-background {
  background-color: #e7e8ec;
}

/* 光标颜色 */
.CodeMirror div.CodeMirror-cursor {
  border-left: 1.5px solid #000;
}

/* #endregion */
/* 动态样式 end */

.code-tooltip {
  box-shadow: 0 1px 1px 0 rgba(0, 28, 36, .3);
  border-top: 1px solid #eef2f2;
}

.md-fences,
code,
tt {
  border: 1px solid #e7eaed;
  background-color: #f8f8f8;
  border-radius: 3px;
  padding: 0;
  padding: 2px 4px 0px 4px;
  font-size: 0.9em;
}

code {
  font-size: .9rem;
  word-wrap: break-word;
  padding: 2px 4px;
  border-radius: 4px;
  margin: 0 2px;
  color: #f06292;
  background-color: #f6f8fa;
  word-break: break-all;
}


/* code block start */
/* #region */
.md-fences {
  color: #333;
  background-color: #f6f8fa;
  border-radius: 1rem;
  padding: 30px 0 10px 0;
  font-family: var(--main-font);
}

.md-fences::before {
  background: #fc625d;
  border-radius: 50%;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  content: ' ';
  height: 12px;
  left: 12px;
  margin-top: -20px;
  position: absolute;
  width: 12px;
}

/* #endregion */
/* code block end */

/* 配色方案 */
/* 关键字 */
.cm-s-inner .cm-keyword {
  color: var(--code-keyword-color);
}

/* 函数声明 */
.cm-s-inner .cm-def {
  color: var(--code-def-color);
}

/* 运算符 */
.cm-s-inner .cm-operator {
  color: var(--code-operator-color);
}

/* 局部变量 */
.cm-s-inner .cm-variable-2 {
  color: var(--code-variable2-color);
}

/* 三级变量, 如伪类 */
.cm-s-inner .cm-type,
.cm-s-inner .cm-variable-3 {
  color: var(--code-pseudo-class-color);
}

/* 终端 */
.cm-s-inner .cm-builtin {
  color: var(--code-builtin-color);
}

/* 布尔值, 数字 */
.cm-s-inner .cm-atom,
.cm-s-inner .cm-number {
  color: var(--code-atom-color) !important;
}

/* 字符串 */
.cm-s-inner .cm-string {
  color: var(--code-string-color);
}

/* 二级字符串 如文本插值 `` */
.cm-s-inner .cm-string-2 {
  color: var(--code-string-color);
}

/* 注释 */
.cm-s-inner .cm-comment {
  color: var(--code-comment-color);
}

/* 插值变量 */
.cm-s-inner .cm-variable {
  color: var(--code-string2-color);
}

/* 标签 */
.cm-s-inner .cm-tag {
  color: var(--code-tag-color);
  background-color: transparent;
}

/* js 展开 */
.cm-s-inner .cm-meta {
  color: var(--code-tag-color);
}

/* html 属性名颜色 */
.cm-s-inner .cm-attribute {
  color: var(--code-builtin-color);
  background-color: transparent;
}

/* js 对象键名 */
.cm-s-inner .cm-property {
  color: var(--code-def-color);
}

/* css类名颜色 */
.cm-s-inner .cm-qualifier {
  color: var(--code-class-color);
}

.cm-s-inner .cm-error {
  color: var(--code-tag-color);
  background-color: transparent;
}
