::marker {
    color: var(--list-marker-color);
}

li.md-list-item {
    margin: 0.4rem 0;
}

#write ul,
#write ol {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 20px;
}

#write ul {
    list-style-type: disc;
}

#write em {
    padding: 0 3px 0 0;
}

#write ul ul {
    list-style-type: circle;
}

#write ol {
    list-style-type: decimal;
}

#write li section {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.7rem;
    text-align: justify;
    color: var(--list-text-color);
    font-weight: 500;
}
